<footer>
  <hr class="slender">
  <p class="social-links">
    <a href="/"><span class="fas fa-home"></span></a>
    &nbsp
    <a href="https://twitter.com/tyleraromero"><span class="fab fa-twitter-square"></span></a>
    <a href="https://github.com/tyler-romero"><span class="fab fa-github-square"></span></a>
    <a href="https://linkedin.com/in/tylerromero"><span class="fab fa-linkedin"></span></a>
  </p>
  <p class="copyright" style="font-size: 1.0em;">&copy; 2024 Tyler Romero</p>
</footer>