<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <header>
    <nav class="group">
      <a href="/" class="no-tufte-underline">{% if page.url == '/' %}[trome]{% else %}trome{% endif %}</a>
      <a href="/about/" class="no-tufte-underline">{% if page.url == '/about/' %}[about]{% else %}about{% endif %}</a>
    </nav>
  </header>
  <body>
    <article>
      <h1>{{ title | markdownInline | safe }}</h1>
      {% if subtitle %}<p class="subtitle">{{ subtitle | markdownInline | safe }}</p>{% endif %}
      {% if date %}<p class="date">{{ date.toDateString() }}</p>{% endif %}
      {{ content | safe }}
    </article>
    <footer>
      {% include "footer.njk" %}
    </footer>
  </body>
</html>
