{% extends "base.njk" %}

{% block structured_data %}
{% include "structured-data/article.njk" %}
{% endblock %}

{% block nav_links %}
                    <a href="/translations" class="no-tufte-underline">Translations</a>
{% endblock %}

{% block article_header %}
{% include "article-header.njk" %}
{% include "rough-annotations.njk" %}
{% endblock %}
