---
layout: frontpage.njk
tags: ["home-cooking", "recipe-box"]
---

<section>
    <h1>Recipe Box</h1>
    <p>
        <span class="marginnote">
            <img src="/assets/img/chef-pic.jpeg"
                 alt="me"
                 class="profile-picture responsive-image" />
        </span>
        I love cooking despite being a very middle of the road home cook. I find it to be relaxing and I like that I get to actually make something in the physical world.
        I keep an old-school recipe box filled with note cards of recipes that I enjoyed making and that turned out well. So I thought
        a good way to start this page would be to describe
        <label for="sd-recipe-box" class="margin-toggle sidenote-number"></label>
        <input type="checkbox" id="sd-recipe-box" class="margin-toggle" />
        <span class="sidenote">With attribution provided as appropriate.</span> some of those recipes here the next time I decide to make them.
    </p>
</section>
<section>
    <h2 id="recipes">Recipes</h2>
    <ul>
        {% for p in collections.recipe | sort(attribute='date') %}
            <li>
                <a href="{{ p.url }}">{{ p.data.title }}</a>
                <small>- {{ p.data.blurb }}</small>
            </li>
        {% endfor %}
    </ul>
</section>
