---
layout: layout.njk
title: Tyler Romero's Technical Blog
subtitle: Explorations in Software Development and Design
---

<ul>
{% for p in collections.post %}
  <li>
    <a href="{{ p.url }}">{{ p.data.title }}</a>
    <small>{{ p.data.date.toDateString() }}</small>
    <p>{{ p.data.excerpt }}</p>
  </li>
{% endfor %}
</ul>
